body {
  font-family: 'Montserrat', sans-serif;
  color: #4F4F4F;
  --primary-color: #e29578;
  --primary-color-dark: #de8261;
  --primary-color-light: #f8bca6;
  --second-color: #81b29a;
  --second-color-light: #a7cfbc;
  --second-color-dark: #5c9479;
  --base-color: #4F4F4F;
  --base-color-light: #8d8d8d;
}

.navbar-light {
  padding: 0;
  background-color: rgba(255,255,255,0.75);
  position: sticky;
  z-index: 200;
  top: 0;
  border-bottom: 1px solid #f1f1f1;
}

.navbar-light .navbar-brand {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 4px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navbar-light .navbar-brand:hover {
  color: var(--primary-color-dark);
}

#app-logo{
  display: inline-block;
}

h2 {
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 10px;
  padding-bottom: 10px;
}