.trip-info {
  display: flex;
  justify-content: space-between;
}

.trip-info h1 {
  color: var(--base-color);
  font-size: 36px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 20px;
}

.trip-info h2 {
  color: var(--base-color-light);
  font-size: 24px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 600;
  padding-bottom: 15px;
  width: auto;
}

hr.solid {
  border-top: 3px solid #bbb;
}

.trip-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 20px;
}

.btn-trip {
  background-color: var(--primary-color);
  color: white;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 2px solid var(--primary-color);
  text-align: center;
  padding: 15px 35px;
}
.btn-trip:hover,
.btn-trip:active,
.btn-trip:focus {
  background-color: var(--primary-color-dark);
  border: 2px solid var(--primary-color-dark);
  box-shadow: none;
}

