{% extends 'trip.html' %}

{% block head %}

  <!-- Mapbox map -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

  <!-- CSS styles-->
  <link href="/static/css/activities.css" rel="stylesheet">

{% endblock %}

{% block title %}Trip Activities{% endblock %}

{% block body %}

<!-- Trip info -->
<input type="hidden" id="trip-lat" value="{{trip.latitude}}">
<input type="hidden" id="trip-lng" value="{{trip.longitude}}">

<div class="container page-activities">
  <!-- Row to fetch yelp recommended-->
  <div class="flex-row d-flex">
    <button class="btn-search" id="activities">Top Rated Activities</button>
    <button class="btn-search" id="restaurants">Top Rated Restaurants</button>
    <form action='/api/search', method="POST">
      <input type="text" class="form-input" name="search-yelp" id="search-yelp" required>
      <button class="btn-search" type="submit" id="search" value="Search">Search</button>
    </form>
  </div>
  <!-- Row to display results-->
  <div class="row">
    <div class="col-md-5" id="display-results">
    </div>
    <div class="col-md-7">
      <div id="map">
      </div>
    </div>
  </div>
</div>

<!-- JS scripts-->
<script src="/static/js/activities.js" type="module"></script>

{% endblock %}