{% extends 'base.html' %}
{% block title %}Trip Activities{% endblock %}

{% block body %}
<input type="hidden" id="trip_id" value="{{trip.trip_id}}">

<div class="container">
  <div class="row">
    <h1>{{trip.trip_name}}</h1>
    <h2>{{trip.trip_location}}</h2>
    <h3>{{trip.start_date.date()}} to {{trip.end_date.date()}}</h3>
  </div>

  <div class="row">
    <div class="d-grid gap-2 d-md-block">
      <a href='/trip/{{trip.trip_id}}/itinerary' class="btn btn-primary">Itinerary</a>
      <a href='/trip/{{trip.trip_id}}/activities' class="btn btn-primary">Search Activities</a>
      <a href='/trip/{{trip.trip_id}}/invite' class="btn btn-primary">Invite Friends</a>
    </div>
  </div>

  <div class="row">
    <a href='/trip/{{trip.trip_id}}/activities' id="activities">See Yelp recommended activities</a>
    <a href='/trip/{{trip.trip_id}}/food' id="restaurants">See Yelp recommended restaurants</a>
    <a href='/trip/{{trip.trip_id}}/activities/search' id="search">Search for more activities</a>
  </div>

  <div class="row">
    <div class="col-md-5" id="display-results">
      
    </div>

    <div class="col-md-7">
      
    </div>

  </div>
    

</div>
<script src="/static/trips.js"></script>
{% endblock %}