{% extends 'base.html' %}
{% block title %}Welcome{% endblock %}

{% block body %}
  <h1>Plan Trips with your Friends!</h1>

  <h2>Create an Account</h2>
  <form action="/register" method="POST">
    <div>
      <label for="fname">First Name</label>
      <input type="text" id="fname" name="fname" placeholder="First name" required>
    </div>
    <div>
      <label for="lname">Last</label>
      <input type="text" id="lname" name="lname" placeholder="Last name" required>
    </div>
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" name="email" placeholder="email@gmail.com" required> 
    </div>
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <input type="submit" value="Register">
  </form>

  <h2>Log In</h2>
  <form action="/login" method="POST">
    <div>
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <input type="submit" value="Login">
  </form>

{% endblock %}