{% extends 'trip.html' %}

{% block head %}

<!-- CSS styles-->
<link href="/static/css/invite.css" rel="stylesheet">

{% endblock %}

{% block title %}Trip Invite{% endblock %}

{% block body %}

<div class="container">
  <!-- Row to display users in trip-->
  <div class="row">
    <p>
      <h2>Friends in this trip</h2>
      <ul>
        {% for user in trip_users %}

        <li><i class="bi bi-person-circle"></i> <strong>{{user.user_id}}</strong> - {{user.fname}} {{user.lname}}</li>

        {% endfor %}
      </ul>
    </p>
    <p>
      <h2>Add friends to this trip</h2>
      <form action="/add-friend" method="POST">
        <input type="hidden" name="trip-id" value="{{trip.trip_id}}">
        <select class="form-select" name="user-id">
          {% for user in all_users %}
            {% if user not in trip_users %}
              <option value="{{user.user_id}}">
                @{{user.user_id}}: {{user.fname}} {{user.lname}}
              </option>
            {% endif %}
          {% endfor %}
        </select>
        <button class="btn-add" type="submit">Add</button>
      </form>
    </p>
    <p>
      <h2>Invite friends via email</h2>
      <form action="/invite-via-email">
        <input type="hidden" name="trip-id-email" value="{{trip.trip_id}}">
        <input type="email" class="form-email" id="email" name="email" placeholder="email@gmail.com" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
        <button class="btn-add" type="submit">Invite</button>
      </form>
    </p>
  </div>

</div>

{% endblock %}