{% extends 'base.html' %}

{% block head %}

<!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<!-- React scripts -->
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

{% endblock %}

{% block title %} Trip {% endblock %}

{% block body %}
<!-- Trip id -->
<input type="hidden" id="trip_id" value="{{trip.trip_id}}">

<div class="container">
  <!-- Row to display trip info-->
  <div class="row">
    <h1>{{trip.trip_name}}</h1>
    <h2>{{trip.trip_location}}</h2>
    <h3>{{trip.start_date.date()}} to {{trip.end_date.date()}}</h3>
  </div>
  <!-- Row to navigate trip planning-->
  <div class="row">
    <div class="d-grid gap-2 d-md-block">
      <a href='/trip/{{trip.trip_id}}/itinerary' class="btn btn-primary">Itinerary</a>
      <a href='/trip/{{trip.trip_id}}/activities' class="btn btn-primary">Explore Activities</a>
      <a href='/trip/{{trip.trip_id}}/task-list' class="btn btn-primary">Task List</a>
      <a href='/trip/{{trip.trip_id}}/polls' class="btn btn-primary">Polls</a>
      <a href='/trip/{{trip.trip_id}}/invite' class="btn btn-primary">Invite Friends</a>
    </div>
  </div>
</div>

<div class="container polls" width="500px">
</div>


<!-- JS scripts -->
<script type="text/jsx" src="/static/js/poll.jsx"></script>

{% endblock %}