{% extends 'trip.html' %}

{% block head %}

<!-- React scripts -->
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
  <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

{% endblock %}

{% block title %} Trip Tasks {% endblock %}

{% block body %}

<!-- React container -->
<div class="container task-list">
</div>

<!-- JS scripts -->
<script type="text/jsx" src="/static/js/taskList.jsx"></script>

{% endblock %}