{% extends 'base.html' %}

{% block head %}

<!-- Mapbox map -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.css" rel="stylesheet">
  <script src="https://api.mapbox.com/mapbox-gl-js/v2.7.0/mapbox-gl.js"></script>

<!-- Mapbox map style -->
  <style>
    .map-wrapper { padding: 20px; }
    #map { position: relative; width: 100%; height: 400px; }
    .page-activities #map { position: relative; width: 100%; }
  </style>

{% endblock %}

{% block title %}Homepage{% endblock %}

{% block body %}

<!-- Mapbox geocoding scripts -->
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v5.0.0/mapbox-gl-geocoder.min.js"></script>
<link rel="stylesheet" href="/static/css/mapbox-input.css" type="text/css">

<!-- User id -->
<input type="hidden" id="user_id" value="{{user.user_id}}">

<!-- form to add trip to db -->
<div class="container">
  <h1>Ready to plan your next trip?</h1>
  <form id="add-trip" class="form-floating form--rounded">
    <div class="row">
      <div class="col-12 col-md-3">
        <div class="form-floating">
          <div id="geocoder"></div>
          <!-- <input type="text" class="form-control" id="autocomplete" name="location" required>
          <label for="floatingInputGrid">Location (city, state)</label> -->
          <!-- hidden inputs to capture lat/long from geocoding API -->
          <input type="hidden" id="trip-lat" name="trip-lat">
          <input type="hidden" id="trip-lng" name="trip-lat">
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="trip-name" name="trip-name">
          <label for="floatingInputGrid">Trip Name</label>
        </div>
      </div>
      <div class="col-5 col-md-2">
        <div class="form-floating">
          <input type="date" id="start-date" name="trip-start" class="form-control" placeholder="Start date" required>
          <label for="floatingInputGrid">Start Date</label>
        </div>
      </div>
      <div class="col-5 col-md-2">
        <div class="form-floating">
          <input type="date" id="end-date" name="trip-end" class="form-control" placeholder="End date" required>
          <label for="floatingInputGrid">End Date</label>
        </div>
      </div>
      <div class="col-2 col-md-1 col--btn">
        <input type="submit" class="btn btn-secondary" id="add-trip-btn" value="Add trip">
      </div>
    </div>
  </form>
</div>
<!-- display map container -->
<div class="container">
  <div class="row">
    <div class="map-wrapper">
      <div id="map"></div>
    </div>
  </div>
</div>
<!-- display user trips -->
<div class="container">
  <h2>Your Trips</h2>
  <div id="get-trips" class="d-flex flex-wrap">
    {% for trip in trips %}
    <div class="card col-md-3" id="trip-{{trip.trip_id}}" style="width: 18rem;">
      <a href="/trip/{{trip.trip_id}}">
        <div class="card-body">
          <p class="card-text">
            <h3>{{ trip.trip_name }}</h3>
            <h4>{{ trip.trip_location }}</h4>
            {{ trip.start_date.date() }} to {{ trip.end_date.date() }}
          </p>
        </div>
      </a>
      {% if trip.trip_creator == user.user_id %}
        <button class="btn btn-secondary delete" trip-id="{{trip.trip_id}}">Delete Trip</button>
      {% else %}
        <button class="btn btn-secondary remove" trip-id="{{trip.trip_id}}">Remove Trip</button>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>

<!-- JS scripts-->
<script src="/static/js/userpage.js" type="module"></script>

{% endblock %}