{% extends 'base.html' %}

{% block title %}Homepage{% endblock %}

{% block body %}
<input type="hidden" id="user_id" value="{{user.user_id}}">

<div class="container">
  <h1>Ready to plan your next trip?</h1>
  <form id="add-trip" class="form-floating">
    <div class="row">

      <div class="col-12 col-md-3">
        <div class="form-floating">
          <input type="text" class="form-control" id="location" name="location" required>
          <label for="floatingInputGrid">Location (city, state)</label>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="trip-name" name="trip-name">
          <label for="floatingInputGrid">Trip Name</label>
        </div>
      </div>

      <div class="col-5 col-md-2">
        <div class="form-floating">
          <input type="date" id="start-date" name="trip-start" class="form-control" placeholder="Start date" required>
          <label for="floatingInputGrid">Start Date</label>
        </div>
      </div>

      <div class="col-5 col-md-2">
        <div class="form-floating">
          <input type="date" id="end-date" name="trip-end" class="form-control" placeholder="End date" required>
          <label for="floatingInputGrid">End Date</label>
        </div>
      </div>

      <div class="col-2 col-md-1">
        <input type="submit" class="btn btn-secondary" id="add-trip-btn" value="Add trip">
      </div>

    </div>
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="map-wrapper">
      <div id="map"></div>
    </div>
  </div>
</div>


<div class="container">
  <h2>Your Trips</h2>
  <div id="get-trips" class="d-flex flex-wrap">
    {% for trip in trips %}
    <div class="card col-md-3" id="trip-{{trip.trip_id}}" style="width: 18rem;">
      <a href="/trip/{{trip.trip_id}}">
        <div class="card-body">
          <p class="card-text">
            <h3>{{ trip.trip_name }}</h3>
            <h4>{{ trip.trip_location }}</h4>
            {{ trip.start_date.date() }} to {{ trip.end_date.date() }}
          </p>
        </div>
      </a>
      <button class="btn btn-secondary delete" trip-id="{{trip.trip_id}}">Delete Trip</button>
    </div>
    {% endfor %}
  </div>

</div>

<script src="/static/js/userpage.js"></script>
<script src="/static/js/map-userpage.js"></script>

{% endblock %}