{% extends 'base.html' %}
{% block title %}Trip Activities{% endblock %}

{% block body %}
<input type="hidden" id="trip_id" value="{{trip.trip_id}}">

<div class="container">
  <div class="row">
    <h1>{{trip.trip_name}}</h1>
    <h2>{{trip.trip_location}}</h2>
    <h3>{{trip.start_date.date()}} to {{trip.end_date.date()}}</h3>
  </div>

  <div class="row">
    <div class="d-grid gap-2 d-md-block">
      <a href='/trip/{{trip.trip_id}}/itinerary' class="btn btn-primary">Itinerary</a>
      <a href='/trip/{{trip.trip_id}}/activities' class="btn btn-primary">Search Activities</a>
      <a href='/trip/{{trip.trip_id}}/invite' class="btn btn-primary">Invite Friends</a>
    </div>
  </div>

  <div class="row">
    <a href='/trip/{{trip.trip_id}}/activities/activities' id="activities">See Yelp recommended activities</a>
    <a href='/trip/{{trip.trip_id}}/activities/restaurants' id="restaurants">See Yelp recommended restaurants</a>
    <a href='/trip/{{trip.trip_id}}/activities/search' id="search">Search for more activities</a>
  </div>


  <div class="row">
    <div class="col-md-5" id="display-results">
      {% for activity in activities %}
      <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
          <div class="col-md-4 d-flex aline-items-center">
            <img src="{{activity.image_url}}" class="img-fluid rounded-start">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                {{ activity.name }} {{activity.rating}}
              </h5>
              <p class="card-text">
              {% for item in activity.location.display_address %}
                {{item}}
              {% endfor %}
              <br>
              {{activity.display_phone}}
              </p>
              <p class="card-text">
                <a href="" class="btn btn-primary">Add to itinerary</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <div class="col-md-7">
      
    </div>

  </div>

</div>
{% endblock %}